.button-wrapper{
    .button {
        background-color: $main-color;
        border: 1px solid black;
        border-radius: 10px;
        width: 180px;
        height: 55px;
        font-size: 18px;
        font-weight: 700;
    }
}