.menubar-wrapper {
    border: $main-border;
    border-radius: $main-radius;
    width: $width-menubar;
    .menubar {
        .list-menu {
            list-style-type: none;
            li {
                float: left;
                a {
                    display: block;
                    color: black;
                    padding: 14px 16px;
                    text-decoration: none;
                }
            }
            li:hover {
                font-weight: $menubar-font-weight;
            }
            .add-list-menu{
                float: right;
                background-color: $main-color;
                border-radius: $main;
            }
        }
    }
}