// #searchbar {
//   position: absolute;
//   width: 114px;
//   height: 25.95px;
//   left: 52px;
//   top: 54.9px;
// }

main > section > div > input {
  width: 150px;
  height: 20.91px;
  border-radius: 20px;
}
