#sideNav-section {
  display: grid;
  // width: 80%;
  background: rgba(55, 207, 198, 1);
  grid-template-rows: 0.25fr 2fr;
  padding: 10px;
}

.searchbar-wrapper {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.sideNav-items-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  // border: solid 1px #000;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul > li {
  display: flex;
  flex-basis: auto;
}
