.menubar-wrapper{
    .menubar{
        .list-menu{
            display: flex;
            flex-direction: column;
            .add-list-menu{
                float: right;
                background-color: $main-color;
                border-radius: $main-border;
            }
        }   
    }
}