#content-section {
  display: grid;
  grid-template-rows: 0.25fr 2fr;
  background-color: #fff;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
}

.header-title {
  display: inline-block;
  width: 100%;
}

.profile-icon {
  display: flex;
  width: 60px;
  height: 60px;
  border: solid 1px #000; // Pour repere
}
.content-wrapper {
  width: 100%;
}

.content {
  display: grid;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: solid 1px #000; // Pour repere
}
