body,
html {
  margin: 0;
  height: 100%;
}

// #main {
//   height: 100%;
// }

body {
  display: grid;
  // width: 1024px;
  // width: 974px;

  height: 100%;
  margin: 0 auto;
  background-color: rgb(207, 207, 207);
  grid-template-rows: auto 1fr auto;
}

// etc

// header {
//   background: lightpink;
// }

main {
  display: grid;
  background: coral;
  // height: 100%;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

footer {
  background: wheat;
  text-align: center;
}

body {
  font-family: system-ui, sans-serif;
}

.sidebar {
  background: rgb(161, 119, 125);
  font-size: 2rem;
  text-align: center;
}
