body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  background-color: #e2dddd;
  font-family: system-ui, sans-serif;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  background: #fff;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

footer {
  background: wheat;
  text-align: center;
}

.sidebar {
  background: rgb(161, 119, 125);
  font-size: 2rem;
  text-align: center;
}
