$main-color: #37CFC6;
$main-radius: 10px;
$main-border: 1px solid black;

//menubar
$margin-menubar: 0 10px 0 10px;
$width-menubar: 1300px;
$menubar-font-weight: 700;

//For buttons
$button-width: 180px;
$button-height: 55px;
$button-font-size: 18px;
$button-font-weight: 700;

//For user-icon 
$user-icon-height: 40px;
$user-icon-width: 40px;
$user-icon-radius: 50%;
