$main-color: #37CFC6;
$main-radius: 10px;
$main-border: 1px solid black;

//notifications_bar
$width-notificationbar: 400px;
$margin-notificationbar: 0 10px 0 10px;
$margin-icon-notificationbar: 0 0 0 120px;
$height-notificationbar: 35px;
$width-notificationbar: 440px;
$font-size-notificationbar: 16px;

//menubar
$margin-menubar: 0 10px 0 10px;
$width-menubar: 1300px;
$menubar-font-weight: 700;


$main-radius: 10px;
$main-border: 1px solid black;

//For buttons
$button-width: 180px;
$button-height: 55px;
$button-font-size: 18px;
$button-font-weight: 700;

//For user-icon 
$user-icon-height: 40px;
$user-icon-width: 40px;
$user-icon-radius: 50%;



//FRONT-OFFICE

//form
$font-weight-title-form: 400;
$color-front-title: #0386FF;

$list-type: none;
$list-margin: 20px;
$list-font-size: 38px;
$form-input-height: 40px;



$bg-color: #37CFC6;
$button-font-weight: 700;

